 /** Estilo para index.html*/
 * {
     box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Roboto', sans-serif;
     margin: 0;
 }

 h1 {
     font-size: 3.5em;
 }

 h2 {
     font-size: 2.7em;
 }

 h3 {
     font-size: 2em;
 }

 p {
     font-size: 1.25em;
 }

 ul {
     list-style: none;
 }

 li {
     font-size: 1.25em;
 }

 button {
     font-size: 1.5em;
     font-weight: bold;
     padding: 10px 20px;
     border-radius: 10px;
     border: 2px solid rgba(0, 0, 0, 0.5);
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     color: white;
     background-color: rgb(0, 0, 0);
 }

 button:hover {
     background-color: rgb(50, 161, 16);
 }

 button:active {
     background: red;
 }

 .container {
     max-width: 1400px;
     margin: auto;
 }

 .color-acc {
     color: rgb(50, 161, 16);
 }

 header {
     background-color: rgb(0, 0, 0);
     width: 100%;
     position: fixed;
     z-index: 100;
 }

 header.logo {
     margin: 0;
     padding: 25px 30px;
     font-weight: bold;
     color: rgb(0, 0, 0);
     font-size: 1.6em;

 }

 header .container {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .container img {
     display: flex;
     width: 100px;
     height: 100px;
 }

 .container p {
     color: rgb(255, 255, 255);
     font-weight: bold;
 }

 header nav {
     float: none;
 }

 nav ul {
     list-style: none;
     overflow: hidden;
 }

 nav ul li {
     float: left;
     font-size: 20px;
 }

 nav ul li a {
     display: flex;
     padding: 20px;
     color: #fff;
     text-decoration: none;
 }

 nav ul li:hover {
     background: rgb(50, 161, 16);
 }

 header a {
     font-weight: bold;

 }


 #viaje {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     height: 90vh;
     color: white;
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/back.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 }

 #viaje h1 {
     padding-top: 50px;
 }

 #talapo h1 {
     color: white;
 }

 #talapo button {
     font-size: 1.7em;
 }

 #talapo .container {
     text-align: center;
     padding: 100px 12px;
 }

 #talapo p {
     color: black;
 }

 #our-dest {
     background-color: rgb(30, 30, 30);
     color: white;
     text-align: center;
 }



 #our-dest .container {
     padding: 150px 12px;
 }

 #our-dest h2 {
     margin-top: 0;
     font-size: 3.2em;
 }

 #our-dest p {
     display: inline-flex;
     text-align: center;
 }

 #our-dest p:hover {
     background-color: rgb(50, 161, 16);
 }

 #our-dest .dest {
     background-position: center center;
     background-size: cover;
     padding: 50px;
     margin: 20px;
     border-radius: 15px;
 }

 .dest:first-child {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/Sivar/centro.jpg);

 }

 .dest:nth-child(2) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/LaLibertad/sunsetpark.jpg);
 }

 .dest:nth-child(3) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/SantaAna/staana.jpg);
 }

 .dest:nth-child(4) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/Chalate/eramon.jpg);
 }

 .dest:nth-child(5) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/Sonsonate/izalcoo.jpg);
 }

 .dest:nth-child(6) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/Ahuachapán/Ahuachapán.jpg);
 }

 .dest:nth-child(7) {
     background-image: linear-gradient(0deg,
             rgba(0, 0, 0, 0.5),
             rgba(0, 0, 0, 0.5)), url(/img/LaPaz/playuski.jpg);
 }

 #features .container {
     text-align: center;
     padding: 20% 20%;
     background-color: rgb(230, 230, 230);
 }

 #features li {
     margin: 16px 0px;
     font-weight: bold;
 }

 #pide-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: rgb(30, 30, 30);
     color: white;
     height: 80vh;
 }

 #pide-info h2 {
     font-size: 3em;
 }



 #pide-info a {
     text-decoration: none;
     display: flex;
     font-size: 5vh;
     font-weight: bold;
     font-size: 1.5em;
     font-weight: bold;
     padding: 10px 20px;
     border-radius: 10px;
     border: 2px solid rgba(0, 0, 0, 0.5);
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     color: white;
     background-color: rgb(0, 0, 0);
 }

 #pide-info a:link,
 a:visited,
 a:focus {
     background: rgb(0, 0, 0);
 }

 #pide-info a:hover {
     background: rgb(50, 161, 16);
 }

 #pide-info a:active {
     background: red;
     color: rgb(255, 255, 255);
 }

 footer {
     background-color: rgb(0, 0, 0);
 }

 footer p {
     margin: 0;
     padding: 12px;
     color: rgb(0, 0, 0);
 }

 footer .container {
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 @media (min-widht: 720px) {
     header {
         position: fixed;
         width: 100%;
     }

     header .container {
         flex-direction: row;
         justify-content: space-between;
     }

     header nav {
         flex-direction: row;
         padding-bottom: 0;
         padding-right: 20px;
     }
 }

 #viaje h1 {
     font-size: 4em;
 }

 #talapo .container {
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(230, 230, 230);
 }

 #talapo .texto {
     width: 50%;
     max-width: 600px;
     text-align: justify;
     padding-left: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 #talapo h2 {
     margin-top: 0px;
 }

 #talapo .img_container {
     background-image: url(/img/turismo.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: 500px;
     width: 400px;
 }

 /** Estilo para destinos*/

 #infodest h1 {
     color: white;
 }

 #infodest button {
     font-size: 1.7em;
 }

 #infodest .infoo {
     text-align: center;
     padding: 100px 12px;
 }

 #infodest p {
     color: black;
 }

 #infodest .infoo {
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(230, 230, 230);
 }

 #infodest .texto {
     width: 50%;
     max-width: 600px;
     text-align: justify;
     padding-left: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 #infodest h2 {
     margin-top: 80px;
 }

 .slider {
     overflow: hidden;
     width: 100%;
 }

 .slider ul {
     display: flex;
     width: 150%;
     transition: all 20s 2s;
     animation: slide 15s infinite;
     animation-direction: alternate;
 }

 .slider li {
     width: 33.33%;
 }

 .slider img {
     width: 90%;
     height: 90;
 }

 @keyframes slide {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(-33.33%);
     }
 }

 @media (max-width: 600px) {
     .slider li {
         width: 100%;
     }
 }

 .infoo {
     align-items: center;
 }